:root{
    --blue1:rgb(98, 139, 243);
    --yellow-add:rgb(197, 182, 42);
    --greenLINK:rgb(31, 190, 116);
}

.logo{
    border: 2px solid #d6dbdd;
    padding:10px;
    margin-left: -7px;
    margin-top:-9px;
}
p{
    font-size : 18px;
}
ul.list{
    font-size:18px;
}
div#list_content{
    border:2px solid var(--blue1);
    width:240px;
    height:100px;

}
h2#why{
    text-align: left;
    margin-left: 20%;
    margin-top:100px;
    color: var(--greenLINK);
    font-size: 25px;
}
address{
    border: 2px solid whitesmoke;
    margin-left:63%;
    padding-left:3px;
    padding-top: 5px;
    font-family:courier;
    width:240px;
    height:98px;
}


table#table1{
    font-family: Arial, Helvetica, sans-serif;
}
#table1 td, #table1 th{
      /* border: 1px solid rgb(203, 66, 207); */
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background-color:rgb(69, 202, 158);
}

table#table_covid{
    border-collapse: collapse;
    
}

#table_covid th, #table_covid td {
    font-family:'Courier New', Courier, monospace;
    border: 2px solid rgb(73, 72, 72);
    background-color: rgb(255, 255, 255);
    padding: 8px;
}
#table_covid tr{
    height:30px;

}

html{overflow-x:hidden;}

   
  
  

