html{overflow-x:hidden; font-size: 100%;}
body{ color: rgb(139, 139, 139); margin:0; }
div{ display: block;}
.logo{
    border: 2px solid #d6dbdd;
    padding:10px;
    margin-left: -2px;
    margin-top:-9px;
    margin-right: -2px;
}

*{
    box-sizing:border-box;
}
.navbar{
    display:flex;
    background-color: #0b6969;
}
.navbar a{
    font:17px;
    overflow:hidden;
    font-family:"Source San Pro",sans-serif;
    color:white;
    padding: 10px 15px;
    text-decoration:none;
    text-align:center;
}
.navbar > a:hover{ background-color: #ddd; color:#0b6969;}
@media(max-width:400px){ .link5{display:none; }}
@media(max-width:450px){ .link6{display:none; }}
@media(max-width:530px){ .link7{display:none; }}
@media(max-width:600px){ .link8{ display:none; }}
@media(max-width:700px){ .link9{ display:none; }}
#why >h2{
    padding-left: 20px;
    color: #0f7777;
    font-size: 25px;
}
#why > blockquote{
    font-size:16px; 
    font-family:courier; 
    color:rgb(34, 133, 200);
}
.background{ background-color: rgba(235, 235, 235, 0.932);}
.logo{ background-color: white;}
.container-twocol{
    display: flex;
    background-color: rgba(235, 235, 235, 0.932);
    margin:10px;
    margin-top: 8px;
}
.container{
    display:flex;
    flex-direction:column;
    margin:10px;
    background-color: rgb(139, 139, 139);
}
.col-left{ width:35%; background-color: white; }
.col-right{ background-color:rgba(235, 235, 235, 0.932);; width:65%;}
.col-margin-bottom{ margin-bottom: 15px; }
.col-left{ margin:8px; box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.3); }
.colright{background-color: white;  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.3); }
.colright1, .colright2{height:50%; padding: 10px;}
.col-left2{padding-left:40px;}
.foo {
    display:flex;
    justify-content:flex-end;
    border: 2px solid rgb(74, 129, 155);
    padding: 0;
    margin: -10px;
    background: #0b6969;
}
/* .foo::after{ content:""; display:table; clear:both; } */
address{
    padding:6px;
    padding-right: 30px;
    font-family:courier;
    text-align: left;
    color:white;
}

   
  
  

